<div class="row" [hidden]="hideWeather">
  <div class="col">
    <div class="col">
      <app-map [user]="user"></app-map>
    </div>

    <div class="weather">
      <div class="weather-title">
        <fa-icon [icon]="getWeatherIcon(weather.current_weather.weathercode)"></fa-icon> Weather Details
      </div>
      <div class="weather-body">
        <p class="weather-item">
          <b>Current Temperature:</b> {{weather.current_weather.temperature}}
        </p>
        <p class="weather-item">
          <b>Max Temperature:</b> {{weather.daily.temperature_2m_max[0]}}
        </p>
        <p class="weather-item">
          <b>Min Temperature:</b> {{weather.daily.temperature_2m_min[0]}}
        </p>
      </div>
    </div>
  </div>
  
  <div class="col">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Time</th>
          <th scope="col">Temperature</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hour of weather.hourly?.time; index as i">
          <td>{{ i }}</td>
          <td>{{ hour | date:'dd MMM yyyy, H-mm' }}</td>
          <td>{{ weather.hourly?.temperature_2m?.[i] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>